body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    box-sizing: border-box;
}
.banner{
    background-color: white;
    width: 300px;
    height: 150px;
    border-radius: 10px;
    position: relative;
    text-align: center;
}
.pin{
    position: absolute;
    top: -150px;
    left: 45%;
    color: 2=whitesmoke;
}